.bg1 {
    background-color: pink;
    border: 1px solid black;
} 
.bg2 {
    background-color: green;
    border: 1px solid black;
}
.ul_bg {
    background-color: grey;
    color: black;
    border: 5px ridge black;
}
