
h1 {
    font-family: monospace;
    background-color: grey;
    padding: 10px;
    border-radius: 10px;
    font-size: 3em;
}
.to_do_div {
    display: flex;
    flex-direction: row;
    background-color: lightcoral;
    border: 2px black groove;
    max-width: 300px;
    button {
        background-image: url(check.png);
        background-size: contain;
        align-self: center;
        cursor: pointer;
        height: 50px;
        width: 50px;
        margin-right: 10px;
        margin-left: 10px;
    }
}

.add_item {
    background-color: lightgreen;
    border: 2px black groove;
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 300px;

    input {
        margin-left: 5px;
    }
}